body{
    padding: 0;
    margin: 0;
}

.container{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



#searchicon{
    height: 30px;
    width: 30px;
    border-radius: 100%;
}
#searchicon:hover{
  cursor: pointer;
}

a:active , button:active{
  transform: translateY(1px);
}

button{
    padding: 10px;
    background-color: rgb(6, 134, 246);
    color: white;
    border-radius: 5px;
    border-style: none;
}
button:hover{
    opacity: 0.8;
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px gray;
}

.nav-topBar input{
  padding: 5px;
  border-radius: 5px;
  padding-left: 10px;
  border-style: none;
 width: 100px;
}

#main-image{
height: 100vh;
width: 100%;
}

.container{
    margin: 0 ;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

a{
    text-decoration: none;
}
.nav-topBar a{
color: white;

}
.nav-topBar a:hover{
    color: orange;
}

.nav-topBar{
    width: 100%;
    display: flex;
    align-items: center;
    height: 10vh;
    padding: 5px;
    padding-left: 20px;
    margin: 0;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(8, 8, 8);
    position:fixed;
}

.navs{
    display: flex;
    gap: 20px;
    align-items: center;
    position:absolute;
    left: 56%;
    padding: 5px;
   
    
}
.search{
    position: absolute;
    right: 7%;
    display:flex ;
    align-items: center;
    gap: 10px;
}

.image--container{
    margin: 0;
}


.aboutUs--container{
    padding: 20px;
    margin-top: 10px; 
}


       h1{
        display: flex;
        justify-content: center;
        box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.2);
        padding-bottom: 20px;
        

      }

      .child1 img{
        height: 60vh;
        width: 37%; 
      }

      .child1{
        display: flex;
        justify-content: center;
       padding: 10px;
       margin-top: 50px;
      }

      .child1--sub{
        padding: 10px;
        margin: 10px;
       
        -border: 1px solid black;
        width: 30%;
        
      }
      .child1--sub p{
font-weight:400;
text-align: justify;
      }
      
      .service--container{

      }
.child2 img{
    height: 300px;
    width: 350px;
}
      .child2{
        margin: 10px;
        margin-top: 50px;
        padding: 10px;
        display: flex;
        justify-content: center;
        gap: 20px;
        text-align: center;
      }
      div[class^='block']{
        border: 1px solid rgb(13, 13, 13,0.3);
        box-shadow: 0px 8px 5px 3px rgba(0,0,0,0.2);
        
    }
.contactNow--container h1{
    box-shadow: 0 0 0 0;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 54px;
    color: rgb(13, 63, 63);
}
    .contactNow--container{
        background-color: powderblue;
        text-align: center;
        padding: 20px;  
        margin-top: 50px;
        margin-bottom: 30px;
        font-weight: bold;

    }

    .contactNow--container button{
        background-color: orange;
    }
      

    
.gallery--container{
   
    padding: 20px;
   
}

.child3{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    margin-top: 50px;
    
}

.child3 img{
    height: 200px;
    width: 230px;
    box-shadow: 0px 8px 5px 0px rgba(10, 165, 75, 0.2);
}


.form{
    display: flex;
    justify-content: center;
    padding: 10px;;
}

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2px;
    }

    
    .form input, .form textarea {
        height: 25px;
        width: 200px;
        padding: 5px;
        border: 1px solid rgb(0, 0, 0,0.3);
        border-radius: 5px;
        box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);
        border-style: none;
        border: 1px solid rgb(91, 90, 90,0.1);
    }

    
    .form input:hover, .form textarea:hover{
       
        box-shadow: 0px 2px 2px 2px powderblue;
    }

    .form button{
        margin-left: 30%;
        width: 80px;
    }



    
    .tab--bottom{
        background-color: rgb(0, 0, 0,0.88);
        height: 160px;
        margin: 0;
        padding: 0;
    }

        
        #logo{
            position: relative;
            top:10px;
        opacity: 0.5;
        height:150px;
        width:150px;
        }
        #contact{
            position: relative;
            top:20px;
            
            color: white;
            
            
        }
        #author{
         position: relative;
         -right: 110px;
         left:500px;   
         top: 0px;
        }

/* ------------------------------------------------------------------------------------------------------------*/ */


      
      .dropdown  .dropbtn {
        font-size: 16px;  
        border: none;
        outline: none;
        
        background-color: inherit;
        font-family: inherit;
        margin-top: 8px;
        box-shadow: 0px 0px;
        color: white;
      }
      
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        transition: 0.5s;
      }
      
      .dropdown-content a {
        float: none;
        color: black;
        padding: 12px ;
        text-decoration: none;
        display: block;
        text-align: left;
        transition: 0.5s;
      }
      
      .dropdown-content a:hover {
        background-color: rgb(48, 48, 48);
      }
      
      .dropbtn:hover{
        color:  rgb(252, 154, 7);
        transition: 0.5s;
      }
      .dropdown:hover .dropdown-content {
        display: block;
        transition: 1s;
        color:  rgb(252, 154, 7);
      }
.menu{
    height: 30px;
    width: 30px;
    -background-color: #fff;
    position: absolute;
    right: 10%;
    padding-top: 10px;
    display: none;
}

      .menu--list{
        width: 30px;
        height: 3px;
        background-color:white;
        margin-bottom: 4px;
        
       
       
    }
/* ---------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------- */
      @media screen and (max-width:800px) {
      
      .menu{
        display: block;
      }
      .navs{
        display: none;
        flex-direction: column;
        position: relative;
        top: 100px;
        left: 48%;
        background-color:gray;
        width: 30%;
        z-index: 1;
        transition: 0.5s;
        margin: 0;
        gap: 0;
       
    
        
      }

      .dropbtn{
        
      }
      .navs a{
        float: none;
        color: white;
        padding: 6px ;
        text-decoration: none;
        display: block;
        text-align: center;
        transition: 0.5s;
        width: 100%;
        
        
        
        
       
      }
      .navs a:hover{
        
        background-color: rgb(48, 48, 48);
      }
      .dropdown-content {
        left: 110px;
        top: 95px;
      }
      .dropdown-content a{
        color: black;
        padding: 5px;
        width: 160px;
      }
      .active{
        display: flex;
      }

      #main-image{
        height: 50vh;
      }
      .child1{
        flex-direction: column;
       
        flex-wrap: wrap;
      }
      .child1 img{
        height: 50vh;
        width: 100%;
      }
      .child1--sub{
       
        width:80%;
        
        
      }
      .service--container{
        display: flex;
        flex-direction: column;
       align-items: center;
       

      }

      .service--container h1{
        box-shadow: 0px 0px 0px 0px;
        border-bottom: 1px solid rgb(47, 47, 47,0.7);
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
       
        
      }
     
.child2 img{
  width: 100%;
  height: 220px;

}
      .child2{
        flex-direction: column;
        width: 80%;
        
        align-items: center;
        justify-content: center;

      }
      .block-1,.block-3{
        padding-bottom: 18px;
      }


.gallery--container{
  padding: 0px;
  
}
.child3{
  gap:10px;
}

.child3 img{
  width: 40%;
 height: 150px; ;
}
.search{
  right: 20%;
}
      }
